@import "scss/Mixins";
@import "scss/Variables";


.body{
@include DirectionColoumn;
color:$white;
font-family: $font-texte;
}

.dimsension-logo{
    @include PositionCenter;
    justify-content: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    z-index: 1000;
    height: 3em;
    .logo{
        @include logo;
        @include PositionCenter;
    }
}/*END dimsension-logo*/




.dimension-localisation
{
    @include DirectionRow;
    background-color: gray;
    .epingle {
        width: 2em;
    }
    .texte-localisation{
        font-family: $font-texte;
        font-size: medium;
    }
}/*END dimension-localisation*/

.section-1
{
    @include DirectionColoumn;
    @include PositionCenter;
    width: $total;
    background-color: $gris;

    .dimension-txt-section1{
        @include PositionCenter;


        .txt-bold-section{
            @include font-bold;
            }/*fin txt-bold-section*/
        
        .txt-normal-section1{
            font-family: $font-texte;
            font-size: large;
            }/*fin txt-normal-section1*/
    }/*FIN dimension-txt-section1*/


    .btn{   
      @include btn;
      width: 30%;
      height: 3rem;
      font-family: $font-texte;
      font-size: 1.5em;
    }/*FIN BTN SECT1*/

}/*FIN SECTION-1*/


.section-2
{
    @include PositionCenter;
    @include DirectionRow;
    background-color: $white;
    
    .h2-left_mixin{
        @include DirectionLeft
    }
    
    .ol{
        @include DirectionColoumn;
        width: $total;
        @include PositionCenter;
    }/*FIN OL*/

   .li-section2 {
       @include DirectionRow;
       justify-content: space-between;
       border-style: solid;
       border-radius: 20px;
       justify-content: space-around;
       background-color: #f0dede7a;
       width: 55%;

       .txt-li{
           font-weight: $font-texte;
           color: $black;
           font-size: 2vh;
        }/*END txt-li*/

        .tuto__icon {
            margin-right: 1rem;
            color: #7e7e7e;
            ::before{
                @include emot-marker
            }
        }/*FIN tuto__icon*/

    }/*li-section2*/

}/*FIN SECTION 2*/



.section-3{
    background-color: #f0dede7a;
    padding: 2%;
    .contenaire-restaurants{
        @include DirectionColoumn;
        @include PositionCenter;
        width: auto;
        justify-content: space-between;
        .card-resto{
            background-color: $white;
            border-radius: 1rem;

            .card-img{
                width: $total;
                height:9em;

                .card-badge{
                    background-color: green;
                    color: $black;
                }
            }/*FIN card-img*/
            .card-footer{
                @include DirectionLeft;
                @include DirectionColoumn;

                .txt-card{
                    width:$total;
                }/*txt-card*/
                .card-title{
                    @include font-bold;
                    font-weight: 700;
                }
                

            }/*FIN card-footer*/
        }/*FIN CARD RESTO*/

    }/*FIN contenaire-restaurants*/
}/*FIN SECTION3*/


.footer{

}/*fin footer*/