@charset "UTF-8";
/*FONT-size-style-family-weight*/
/*TAILLE*/
/*PLACEMENT*/
/*FONT-size-style-family-weight*/
/*CLASS ID IMPORTANT*/
/*FONT-size-style-family-weight*/
/*TAILLE*/
/*PLACER LES BOUTON ET LE COEUR*/
.btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-family: "Roboto", "sans-serif";
  width: auto;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
}
.btn:hover {
  background-color: #ffffff;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

/*FIN BTN SECT1*/
/*ANIMATION COEUR NEMESIS*/
.emote-cards {
  display: flex;
  align-items: center;
  margin-right: 0px;
  width: 50px;
}

.heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: url(#text-fill);
  cursor: pointer;
}

.heart-full {
  opacity: 0;
  width: 30px;
  position: absolute;
  /*fill: url(#text-fill);*/
  stroke: none;
}
.heart-full:hover {
  opacity: 1;
  transition: 0.5s;
  z-index: 10;
}

.heart-vide {
  stroke-width: 20;
  stroke: black;
  cursor: pointer;
  color: #ffffff;
  fill: url(#text-fill);
  width: 30px;
}
.heart-vide:hover {
  opacity: 0;
  transition: 0.2s;
  z-index: -100;
}

/*A REFAIRE COURS CSS OPEN*/
/*
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s;
    content: "";
    background: linear-gradient(0deg,#9356dc,#ff79da);
  }

  &__like {
    transition-duration: .25s;
background-color: #f6f6f6;
display: flex;
align-items: center;
justify-content: center;
mix-blend-mode: lighten;
  }


  &:hover {
    .menu__like {
      &--noBg {
        opacity: 0;
      }
    }
  }
}/*A REFAIRE COURS CSS OPEN*/
@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
/*
@keyframes slideInRight {
  0% {
  transform: translateX(100%);
  visibility: visible;
  }
  100% {

  transform: translateX(0);
  }
  } /*placer anim: both*/
@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(-50px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  animation: spinner 3s ease-in-out;
  visibility: hidden;
}

.loader-anim {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid transparent;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spinner-border 3s ease-in-out;
  z-index: 10;
  visibility: hidden;
}

@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner-border {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}
body, html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.li {
  display: none;
}

* {
  padding: 0;
}

a:link {
  text-decoration: none;
  color: inherit;
}

.hover {
  cursor: pointer;
}

.logo-dimsension {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
.logo-dimsension #logo {
  font-family: "Shrikhand", "cursive";
  font-size: 5vh;
  color: #000000;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

/*END dimsension-logo*/
.localisation-dimension {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #f3f3f3;
  width: auto;
}
.localisation-dimension .epingle {
  width: 2em;
}
.localisation-dimension .localisation-texte {
  font-family: "Roboto", "sans-serif";
}

/*END dimension-localisation*/
.section-1 {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: #f5f5f587;
  padding: 2rem;
  padding-top: inherit;
  width: auto;
  text-align: center;
}

.section1-dimension-txt {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  /*fin txt-bold-section*/
  /*fin txt-normal-section1*/
}
.section1-dimension-txttxt__bold {
  font-weight: 700;
  color: #000000;
}
.section1-dimension-txttxt__normal {
  font-family: "Roboto", "sans-serif";
  font-size: large;
  font-weight: 300;
}

.section-2 {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 8%;
  /*FIN OL*/
  /*fin parent-ol*/
  /*section2-li*/
}
@media (min-width: 64rem) {
  .section-2 {
    padding: 3%;
  }
}
.section-2 .h2-left_mixin {
  display: flex;
  align-items: center;
  justify-content: left;
}
.section-2 li::before {
  counter-increment: Choix 1;
  content: counters(Choix, "1");
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: #9356DC;
  margin-left: -10%;
  margin-right: 5%;
}
@media only screen and (min-width: 370px) and (max-width: 1023px) {
  .section-2 li::before {
    margin-left: -5%;
    margin-right: 5%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .section-2 li::before {
    margin-left: -5%;
    margin-right: 5%;
  }
}
.section-2 .ol-fonction {
  counter-reset: Choix;
  list-style-type: "";
}
.section-2 .parent-ol {
  justify-content: center;
}
@media (min-width: 64rem) {
  .section-2 .parent-ol .ol-fonction {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 4rem;
    justify-content: space-between;
    counter-reset: Choix;
    list-style-type: "";
  }
}
.section-2 .li-section2:hover {
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.679);
}
.section-2 .section2-li {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 0 1rem 0rem;
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  margin-left: 0px;
  padding: 3%;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  /*fin media*/
  /*END li-txt*/
  /*FIN tuto__icon*/
}
.section-2 .section2-li:hover {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
@media (min-width: 64rem) {
  .section-2 .section2-li {
    flex: 1;
    margin: 0;
    margin-left: 2rem;
    padding: 0.5em;
  }
  .section-2 .section2-li:first-child {
    margin-left: 0.75rem;
  }
}
.section-2 .section2-li__txt {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-2 .section2-li .tuto__icon {
  margin-right: 2rem;
  color: #7e7e7e;
}

/*FIN SECTION 2*/
.section-3 {
  background-color: #f0dede7a;
  padding: 2%;
}

.contenaire-restaurants {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
}
@media (min-width: 64rem) {
  .contenaire-restaurants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }
}

/*FIN contenaire-restaurants*/
.card-resto {
  background-color: #ffffff;
  border-radius: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  width: 97%;
}
.card-resto:hover {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

/*FIN CARD RESTO*/
.img-resto {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 12em;
  object-fit: cover;
}

.card-img {
  width: auto;
  justify-content: space-between;
}

/*fin carte img*/
.card-badge {
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
}

.card-footer {
  padding: 1rem;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  color: #000000;
  /*txt-card*/
}
.card-footer__txt {
  flex: 1;
  padding: 1em;
}
.card-footer__title {
  font-weight: 700;
  color: #000000;
  font-weight: 700;
}

/*FIN card-footer*/
/*FIN SECTION3*/
.footer {
  background-color: #353535;
  color: #ffffff;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /*footer-ul*/
}
.footer .footer-ul {
  color: #ffffff;
  margin: 0.5rem 0;
  /*end li-footer*/
}
.footer .footer-ul .footer-ul__li {
  display: flex;
  display: flex;
  align-items: center;
  flex-direction: row;
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}
.footer .footer-ul .footer-ul__li:hover {
  font-weight: bold;
}

/*fin footer*/
.footer-logo {
  font-family: "Shrikhand", "cursive";
  font-size: 1.2rem;
  margin: 0 0 1rem;
}
.footer-logo footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.logo-dimsension {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-reglage {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__arrow {
  color: black;
  font-size: large;
}

.img-menu {
  width: 100%;
  object-fit: cover;
  max-height: 60rem;
}

.section-menus {
  background-color: #f6f6f6;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-top: -17%;
  position: relative;
  padding: 4%;
}

.dimension-header-section-menus {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.title-menu {
  font-family: "Shrikhand", "cursive";
  font-weight: normal;
  margin-left: 0px;
}

/*.menu-queries_grid{
    @media only screen and (min-width: 1023px) {
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
        display: grid;
        grid-gap: 40px;
        }
}*/
.menu-présentation {
  font-family: "Roboto", "sans-serif";
}
.menu-présentation .plats-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.menu-présentation .plats-menu:hover {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.menu-titre {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: normal;
}
.menu-titre::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu-plats {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 5%;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
}
.menu-plats:hover {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.menu-plats:hover .menu-confirmation__anim {
  display: flex;
  align-items: center;
  animation: slide-left 0.5s ease;
  transform-origin: right;
}
.menu-plats:hover .menu-price {
  padding-right: 60px;
  transition: 0.5s ease;
  font-size: clamp(17px, 3vw, 1.5rem);
}

/*&:hover &__wrapIcon {
    transform: rotate(0);
  }*/
.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.menu-txt {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-txt__bold {
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
  font-size: clamp(17px, 3vw, 1.5rem);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-txt__description {
  font-size: clamp(14px, 2vw, 1rem);
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-price {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}

.menu-confirmation__anim {
  display: none;
  position: absolute;
  background: #99E2D0;
  right: 0px;
  padding: 0 13px;
  height: 100%;
  bottom: 0px;
}

.icon-confirmation-wrap {
  font-size: 30px;
  color: white;
  transform: rotate(180deg);
  animation: rotate 0.5s both;
}

.menuItem__icon {
  color: #99e2d0;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 5px;
  font-size: 20px;
}

/*fin menu plats*/
.dimension-menu-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
