
    /*Colors*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$white: #ffffff;
$gris:#b6b4b4;
$black:#000000;

/*FONT-size-style-family-weight*/
$font-texte: 'Roboto', 'sans-serif';

/*TAILLE*/
$total: 100%;