@import url(_menu-styles.scss);
@import url(_Variables.scss);
/*PLACEMENT*/
/*FONT-size-style-family-weight*/
/*CLASS ID IMPORTANT*/
/*FONT-size-style-family-weight*/
/*TAILLE*/
/*FONT-size-style-family-weight*/
/*TAILLE*/
body, html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.dimsension-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  position: relative;
  display: flex;
  align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dimsension-logo #logo {
  font-family: "Shrikhand", "cursive";
  font-size: 5vh;
  color: #000000;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2em;
}

/*END dimsension-logo*/
.dimension-localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #f3f3f3;
  width: auto;
}

.dimension-localisation .epingle {
  width: 2em;
}

.dimension-localisation .texte-localisation {
  font-family: "Roboto", "sans-serif";
}

/*END dimension-localisation*/
.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f587;
  padding: 2rem;
  padding-top: inherit;
  width: auto;
  text-align: center;
  /*FIN dimension-txt-section1*/
  /*FIN BTN SECT1*/
}

.section-1 .dimension-txt-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*fin txt-bold-section*/
  /*fin txt-normal-section1*/
}

.section-1 .dimension-txt-section1 .txt-bold-section {
  font-weight: bold;
  color: #000000;
}

.section-1 .dimension-txt-section1 .txt-normal-section1 {
  font-family: "Roboto", "sans-serif";
  font-size: large;
  font-weight: 300;
}

.section-1 .btn {
  background-color: #FF79DA;
  border-radius: 100px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  background-color: #686868;
  cursor: pointer;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-color: transparent;
  font-family: "Roboto", "sans-serif";
  width: auto;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
}

.section-1 .btn:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

/*FIN SECTION-1*/
.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  padding: 8%;
  /*FIN OL*/
  /*fin parent-ol*/
  /*li-section2*/
}

.section-2 .h2-left_mixin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.section-2 .ol {
  counter-reset: Choix;
  /* Creates a new instance of the
                                            section counter with each ol
                                            element */
  list-style-type: none;
}

.section-2 li::before {
  counter-increment: Choix 1;
  /* Increments only this instance
                                            of the section counter */
  content: counters(Choix, "");
  /* Combines the values of all instances
                                            of the section counter, separated
                                            by a period */
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background: #9356DC;
  margin-left: -10%;
  margin-right: 5%;
}

.section-2 .parent-ol {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-2 .li-section2:hover {
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.679);
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.679);
}

.section-2 .li-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0 1rem 0rem;
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  margin-left: 0px;
  padding: 3%;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  /*END txt-li*/
  /*FIN tuto__icon*/
}

.section-2 .li-section2 .txt-li {
  font-weight: "Roboto", "sans-serif";
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-2 .li-section2 .tuto__icon {
  margin-right: 2rem;
  color: #7e7e7e;
}

/*FIN SECTION 2*/
.section-3 {
  background-color: #f0dede7a;
  padding: 2%;
}

.contenaire-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*FIN contenaire-restaurants*/
.card-resto {
  background-color: #ffffff;
  border-radius: 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 97%;
}

/*FIN CARD RESTO*/
.card-resto:hover {
  background-color: #fff;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.img-resto {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 12em;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-img {
  width: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*fin carte img*/
.card-badge {
  border-radius: .125rem;
  position: absolute;
  top: 1rem;
  right: .75rem;
  background-color: #99e2d0;
  color: #1b6150;
  padding: .5rem;
}

.card-footer {
  padding: 1rem;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

/*FIN card-footer*/
.txt-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em;
}

/*txt-card*/
.card-title {
  font-weight: bold;
  color: #000000;
  font-weight: 700;
}

/*ANIMATION COEUR NEMESIS*/
.emote-card {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}

.emote-card:hover:before {
  opacity: 1;
}

.emote-card::before {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}

.menu-like {
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: lighten;
}

.menu__like--noBg:hover {
  opacity: 0;
}

/*

  &__like {
    transition-duration: .25s;
    background-color: #f6f6f6;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    mix-blend-mode: lighten;
  }

  &__btn:hover {
    .menu__like {
      &--noBg {
        opacity: 0;
      }
    }
  }
  */
/*FIN SECTION3*/
.footer {
  background-color: #353535;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.footer .ul-footer {
  color: #ffffff;
  margin: .5rem 0;
}

.footer .li-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5rem 0;
}

.footer .li-footer:hover {
  font-weight: bold;
  cursor: pointer;
}

/*fin footer*/
.logo-footer {
  font-family: "Shrikhand", "cursive";
  font-size: 1.2rem;
  margin: 0 0 1rem;
}

.footer__icon {
  width: 1.2rem;
  margin-right: .5rem;
}

.li {
  display: none;
}

* {
  padding: 0;
}

a:link {
  text-decoration: none;
  color: inherit;
}
/*# sourceMappingURL=main.css.map */