@import url(../Pages/_menu-styles.scss);
@import url(../Pages/_Mixins.scss);
@import url(../Pages/_Variables.scss);

body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    
  }

.dimsension-logo{
    @include PositionCenter;
    justify-content: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    z-index: 1000;
    position: relative;
    display: flex;
align-items: center;
justify-content: space-evenly;
    #logo{
        @include logo;
        @include PositionCenter;
        justify-content: center;
        font-size: 2em;
    }
}/*END dimsension-logo*/




.dimension-localisation
{
    @include DirectionRow;
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    padding: 1.25rem 1rem;
    background-color: #f3f3f3;
    width: $oklm;
    .epingle {
        width: 2em;
    }
    .texte-localisation{
        font-family: $font-texte;
    }
}/*END dimension-localisation*/

.section-1
{
    @include DirectionColoumn;
    @include PositionCenter;
    background-color: $gris;
    padding: 2rem;
    padding-top: inherit;
    width: $oklm;
    text-align: center;

    .dimension-txt-section1{
       @include DirectionColoumn;
       @include PositionCenter;

        .txt-bold-section{
            @include font-bold;
            }/*fin txt-bold-section*/
        
        .txt-normal-section1{
            font-family: $font-texte;
            font-size: large;
            font-weight: 300;
            }/*fin txt-normal-section1*/
    }/*FIN dimension-txt-section1*/


    .btn{   
      @include btn;
      font-family: $font-texte;
      width: $oklm;
      color:$white;
        padding: 0.75rem 1.5rem;
        font-weight: 500;
    }/*FIN BTN SECT1*/

}/*FIN SECTION-1*/


.section-2
{
    @include DirectionColoumn;
    background-color: $white;
    padding: 8%;

    .h2-left_mixin{
        @include DirectionLeft
    }
    
    .ol{
        counter-reset: Choix;                /* Creates a new instance of the
                                            section counter with each ol
                                            element */
  list-style-type: none;
}

li::before {
  counter-increment: Choix 1;            /* Increments only this instance
                                            of the section counter */
  content: counters(Choix, "");   /* Combines the values of all instances
                                            of the section counter, separated
                                            by a period */
    @include counter;
    }/*FIN OL*/

    .parent-ol{
        justify-content: center;
        
    }/*fin parent-ol*/

    .li-section2:hover{
        box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.679);
    }
   .li-section2 {
       @include DirectionRow;
       margin: 0 0 1rem 0rem;
       border-radius: 1.25rem;
       background-color: #f6f6f6;
       display: flex;
       position: relative;
       margin-left: 0px;
       padding: 3%;
       box-shadow: .25rem .25rem .5rem rgba(0,0,0,.125);

       .li-section2:hover{
        background-color: #fff;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
       }
        

       .txt-li{
           font-weight: bold;
           color: $black;
           @include PositionCenter;
           justify-content: center;
        }/*END txt-li*/

        .tuto__icon {
            margin-right: 2rem;
            color: #7e7e7e;
            }/*FIN tuto__icon*/

        }/*li-section2*/
        
    
    
}/*FIN SECTION 2*/



.section-3{
    background-color: #f0dede7a;
    padding: 2%;
}
    .contenaire-restaurants{
        @include DirectionColoumn;
        @include PositionCenter;
        }/*FIN contenaire-restaurants*/

        .card-resto{
            background-color: $white;
            border-radius: 1rem;
            position: relative;
            display: flex;
            align-items: center;
            margin: 1rem;
            @include DirectionColoumn;
            width: 97%;
            }/*FIN CARD RESTO*/

            .card-resto:hover{
                background-color: #fff;
                box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
            }

            .img-resto{
                border-radius: 1rem 1rem 0 0;
                width: 100%;
                height: 12em;
                object-fit: cover;
            }

            .card-img{
                width: $oklm;
                justify-content: space-between;
            }/*fin carte img*/

                .card-badge{
                    border-radius: .125rem;
                    position: absolute;
                    top: 1rem;
                    right: .75rem;
                    background-color: #99e2d0;
                    color: #1b6150;
                    padding: .5rem;
                }
               

            .card-footer{
                padding: 1rem;
                position: relative;
                width: $total;
                @include PositionCenter;
                color:$black;
                }/*FIN card-footer*/

                .txt-card{
                    flex: 1;
                    padding: 1em
                }/*txt-card*/

                .card-title{
                    @include font-bold;
                    font-weight: 700;
                }
            
/*ANIMATION COEUR NEMESIS*/
                .emote-card{
                    height: 2rem;
                    width: 2rem;
                    background-color: transparent;
                    border: transparent 0px solid;
                    padding: 0;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    cursor: pointer;
                    position: relative;
                    background-color: black;
                }

                .emote-card:hover:before{
                    opacity: 1;
                }  

            .emote-card::before{    
                opacity: 0;
      transition: 0.5s;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background:linear-gradient(0deg, $color-primary 0%,$color-secondary 100%);
    }

    .menu-like{
        transition-duration: .25s;
    background-color: #f6f6f6;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    mix-blend-mode: lighten;
    }

    
    .menu__like--noBg:hover{
        opacity: 0;
    }

/*

  &__like {
    transition-duration: .25s;
    background-color: #f6f6f6;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    mix-blend-mode: lighten;
  }

  &__btn:hover {
    .menu__like {
      &--noBg {
        opacity: 0;
      }
    }
  }
  */


                
/*FIN SECTION3*/


.footer{
    background-color: #353535;
    color: $white;
    justify-content: center;
    @include DirectionColoumn;
    padding: 1rem;

        .ul-footer{
            color: $white;
            margin: .5rem 0;
        }
    .li-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem 0;
    }

    .li-footer:hover{
    font-weight: bold;
cursor: pointer;
}
}/*fin footer*/

.logo-footer
{
    font-family: "Shrikhand", "cursive";
  font-size: 1.2rem;
  margin: 0 0 1rem;
}

.footer__icon{
    width: 1.2rem;
    margin-right: .5rem;
}

.li{
    display: none;
}

*{
    padding:0;
}

a:link 
{ 
 text-decoration:none; 
 color: inherit;
} 

