.logo-dimsension{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-reglage{
    position: absolute;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

   .header__arrow
{
color: black;
font-size: large;
}