.section-menus{
    background-color: #f6f6f6;
border-top-left-radius: 2rem;
border-top-right-radius: 2rem;
margin-top: -17%;
position: relative;
padding: 4%;
}

.dimension-header-section-menus{
    @include PositionCenter;
    @include DirectionRow;
    justify-content: space-between;
    display: flex;
}

.title-menu{
    font-family: $font-logo;
    font-weight: normal;
    margin-left: 0px;
    }

/*.menu-queries_grid{
    @media only screen and (min-width: 1023px) {
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
        display: grid;
        grid-gap: 40px;
        }
}*/


    .menu-présentation{ 
        font-family: $font-texte;

        .plats-menu{
        @include DirectionRow;
        display: flex;
        justify-content: space-between;
        &:hover{
            background-color: #fff;
            box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
           }
        }
    }

.menu-titre
{
        text-transform: uppercase;
        position: relative;
        padding-bottom: 0.5rem;
        font-weight: normal;

    
            &::after {
            content: "";
             width: 3rem;
            height: 0.25rem;
             background-color:#99E2D0;
             position: absolute;
             left: 0;
             bottom: 0;
        }
}



.menu-plats{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 5%;
    padding: 1rem;
    display: flex;
    border-radius: .75rem;
    box-shadow: .25rem .25rem 1rem rgba(0,0,0,.1);
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;

    &:hover{
        background-color: #fff;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
        .menu-confirmation__anim {
            @include PositionCenter;
            animation: slide-left 0.5s ease ;
            transform-origin: right;
        }

        .menu-price{
                padding-right: 60px;
                transition: 0.5s ease;
            }
        }

    }

    /*&:hover &__wrapIcon {
        transform: rotate(0);
      }*/

    


@for $i from 0 to 9 {
    .delay-#{$i} {
      animation-delay:  #{$i/10}s;
    }
  }

.menu-txt{
    @include txt-overflow;

&__bold{
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
    font-size: clamp(17px, 3vw, 1.5rem);
    @include txt-overflow;
}
&__description{
font-size: clamp(14px, 2vw, 1rem);;
margin-top: 0px;
margin-bottom: 0px;
@include txt-overflow;
}
}


.menu-price{
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: .5rem;
}

.menu-confirmation__anim{

    display: none;
position: absolute;
background: #99E2D0;
right: 0px;
padding: 0 13px;
height: 100%;
bottom: 0px;
    }




    .icon-confirmation-wrap{
        font-size: 30px;
        color: white;
        transform: rotate(180deg);
        animation: rotate 0.5s both;
}


.menuItem__icon{
    color: #99e2d0;
    background-color: $white;
    border-radius: 100px;
    padding: 5px;
    font-size: 20px;
}

/*fin menu plats*/

.dimension-menu-btn{
    width: 100%;
display: flex;
justify-content: center;
}