@import '../../Scss/Untils/Mixins';
@import '../../Scss/Untils/Variables';
@import '../../Scss/components/animations';
@import '../../Scss/components/fonctions';

.section-2
{
    @include DirectionColoumn;
    background-color: $white;
    padding: 8%;
    @media (min-width:64rem) {padding: 3%};

    .h2-left_mixin{
        @include DirectionLeft
    }

    li::before {
    counter-increment: Choix 1;                          
    content: counters(Choix, "1");   
    @include counter;
    }/*FIN OL*/

    .ol-fonction{    
        counter-reset: Choix;                
        list-style-type: "";
    }

    .parent-ol{
        justify-content: center;


        .ol-fonction{
        @media (min-width:64rem) {
            @include DirectionRow;
            height: 4rem;
            justify-content: space-between;
            counter-reset: Choix;                
            list-style-type: "";
            }
        }
    }/*fin parent-ol*/

    .li-section2:hover{
        box-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 0.679);
    }
   .section2-li {
       @include DirectionRow;
       margin: 0 0 1rem 0rem;
       border-radius: 1.25rem;
       background-color: #f6f6f6;
       display: flex;
       position: relative;
       margin-left: 0px;
       padding: 3%;
       box-shadow: .25rem .25rem .5rem rgba(0,0,0,.125);

        &:hover{
        background-color: #fff;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
        cursor: pointer;
       }

       @media (min-width:64rem) {
        flex: 1;
        margin: 0;
        margin-left: 2rem;
        padding: .5em;
  
        &:first-child {
          margin-left: 0.75rem;
        }
      }/*fin media*/
        

        &__txt{
           color: $black;
           @include PositionCenter;
           justify-content: center;
        }/*END li-txt*/

        .tuto__icon {
            margin-right: 2rem;
            color: #7e7e7e;
            }/*FIN tuto__icon*/

        }/*section2-li*/
        
    
    
}/*FIN SECTION 2*/