@import '../../Scss/Untils/Mixins';
@import '../../Scss/Untils/Variables';
@import '../../Scss/components/animations';
@import '../../Scss/components/fonctions';

.section-1
{
    @include DirectionColoumn;
    @include PositionCenter;
    background-color: $gris;
    padding: 2rem;
    padding-top: inherit;
    width: $oklm;
    text-align: center;
}

    .section1-dimension-txt{
       @include DirectionColoumn;
       @include PositionCenter;
    
        &txt__bold{
            @include font-bold;
            }/*fin txt-bold-section*/
        
        &txt__normal{
            font-family: $font-texte;
            font-size: large;
            font-weight: 300;
            }/*fin txt-normal-section1*/
        }