/*PLACER LES BOUTON ET LE COEUR*/

.btn{   
    @include btn;
    font-family: $font-texte;
    width: $oklm;
    color:$white;
      padding: 0.75rem 1.5rem;
      font-weight: 500;
  }/*FIN BTN SECT1*/






/*ANIMATION COEUR NEMESIS*/
.emote-cards {
  @include PositionCenter;
            margin-right: 0px;
            width: 50px;
    }

.heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: url(#text-fill);
  cursor: pointer;
}
.heart-full {
opacity: 0;
width: 30px;
position: absolute;
/*fill: url(#text-fill);*/
stroke: none;
  &:hover {
  opacity: 1;
  transition: 0.5s;
  z-index: 10;
}
}
.heart-vide {
  stroke-width: 20;
  stroke: black;
  cursor: pointer;
  color: $white; 
  width: 30px;
    &:hover {
    opacity: 0;
    transition: 0.2s;
    z-index: -100;
  }
}
/*A REFAIRE COURS CSS OPEN*/

  /*
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
   
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s;
    content: "";
    background: linear-gradient(0deg,#9356dc,#ff79da);
  }

  &__like {
    transition-duration: .25s;
background-color: #f6f6f6;
display: flex;
align-items: center;
justify-content: center;
mix-blend-mode: lighten;
  }


  &:hover {
    .menu__like {
      &--noBg {
        opacity: 0;
      }
    }
  }
}/*A REFAIRE COURS CSS OPEN*/





@keyframes itemAppear {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(1);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}




@keyframes slideInRight {
  0% {
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
 
  transform: translateX(0);
  }
  } /*placer anim: both*/

  @keyframes slide-left {
    0% {
              transform: scaleX(0);
    }
    100% {
              transform: scaleX(-50px);
    }
  }

  @keyframes rotate {
    0% {
        transform: rotate(0);
}
100% {
        transform: rotate(360deg);
    }
}