@import '../Untils/Variables';

/*PLACEMENT*/
@mixin PositionCenter {
    display: flex;
    align-items: center;   
}

@mixin DirectionColoumn {
    display: flex;
    flex-direction: column;
}

@mixin DirectionRow {
    @include PositionCenter;
    flex-direction: row;
}


/*FONT-size-style-family-weight*/

@mixin font-bold {
   font-weight: 700;
   color: $black;
}

@mixin txt-overflow {
    white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}

/*CLASS ID IMPORTANT*/
@mixin logo{
    font-family: "Shrikhand", "cursive";
    font-size: 5vh;
    color: $black;
    font-weight: 900;
    }



@mixin btn {
    border: 0;
padding: .75rem 1.5rem;
font-weight: 500;
font-size: 1.1rem;
border-radius: 100px;
color: #fff;
background-color: #686868;
background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
transition-duration: .25s;
box-shadow: .25rem .25rem 10px rgba(0,0,0,.25);
cursor: pointer;
    &:hover{
        background-color: $white;
    box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
    }   
}

@mixin emot-marker {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background:$color-secondary;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    @include PositionCenter();
    justify-content: center;
    color: $white;
    position: absolute;
    left: -.75rem;
}


@mixin DirectionLeft {
    @include PositionCenter();
    justify-content: left;
}

@mixin counter{
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      background: $color-primary;
      margin-left: -10%;
     margin-right: 5%;

    @media only screen and (min-width:370px) and (max-width:1023px) {
        margin-left: -5%;
        margin-right: 5%;
     }
     @media only screen and (min-width:1024px) and (max-width:1440px) {
     margin-left: -6%;
    margin-right: 8%;
     }
}


@mixin loaderDivMixin {
	border-radius: 50%;
	padding: 8px;
	border: 2px solid transparent;
	animation: rotate linear 3.5s infinite;
}