
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$white: #ffffff;
$gris:#f5f5f587;
$black:#000000;

$dark-primary-color: darken(#9356DC, 10%);
$light-primary-color: lighten(#9356DC, 20%);


/*FONT-size-style-family-weight*/
$font-texte: 'Roboto', 'sans-serif';
$font-logo:"Shrikhand", "cursive";

/*TAILLE*/
$total: 100%;
$oklm: auto;
